.notes-title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 5px;
    text-align: left;
}
.notes-content{
    text-align: left;
    padding-bottom: 5px;
}